<div class="well" style="margin-top: 30px;width:100%;padding-right: 75px;padding-left: 75px;padding-top: 35px;">
    <div class="row">
        <div class="col-sm-11">
            <h2 style="padding-left:13px;">Education</h2>
        </div>
        <div class="col-sm-1 text-right columns" style="padding-right:33px;">
          
          <button type="btn btn-danger" >
              <i class="fa fa-pencil-square fa-2x"></i>
            </button>
        </div>
      </div>
  <div class="div-center" class="details" [ngSwitch]='froalaId'>
     
    <form>
        <div class="row text-center columns" >
            <div class="col-sm-3">
              <label class="personaldetail" for="qualification"> Qualification</label>
    
              <button type="btn btn-danger text-right columns">
                <i class="fa fa-pencil-square fa-2x"></i>
              </button>
            </div>
            <div class="col-sm-3">
              <label class="personaldetail" for="school">School/College</label>
    
              <button type="btn btn-danger text-right columns">
                <i class="fa fa-pencil-square fa-2x"></i>
              </button>
            </div>
            <div class="col-sm-3">
              <label class="personaldetail" for="yop">Year of Passing</label>
    
              <button type="btn btn-danger text-right columns">
                <i class="fa fa-pencil-square fa-2x"></i>
              </button>
            </div>
            <div class="col-sm-3">
              <label class="personaldetail" for="percentage">Percentage</label>
    
              <button type="btn btn-danger text-right columns">
                <i class="fa fa-pencil-square fa-2x"></i>
              </button>
            </div>
          </div>
          <br>
          <hr>
          <div *ngFor="let education of educationDetails;let i=index">
      <div class="row">
        <div class="col-sm-11">
          <h2 class="personaldetail" for="inputName">Education #{{i+1}}</h2>
        </div>
        <div class="col-sm-1 text-right columns">
          
          <button type="btn btn-danger" (click)="onRemoveDetails()">
              <i class="fa fa-close fa-2x"></i>
            </button>
        </div>
      </div>
      <br>

      
      <div class="row">
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]='options' [(froalaModel)]="educationDetails[i].Qualification">
          </p>
        </div>
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]="options" [(froalaModel)]="educationDetails[i].schoolName">
          </p>
        </div>
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]="options" [(froalaModel)]="educationDetails[i].yearOfPassing">
          </p>
        </div>
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]="options" [(froalaModel)]="educationDetails[i].Marks"></p>
        </div>
      </div>
    </div>
<br>
<hr>
<br>
    </form>

    <button type="button" class="btn btn-dark btn-md" (click)="onAddDetails()">Add New Field</button>
    
    <button type="button" style="float:right" class="btn btn-dark btn-md" (click)="onPreview()">Preview</button>


  </div>
</div>
