<div class="well" style="margin-top: 30px;width:100%;padding-right: 75px;padding-left: 75px;padding-top: 35px;">
    <div class="row">
        <div class="col-sm-11">
            <h2 style="padding-left:33px;" [froalaView]="educationDetailsTitle.title">{{educationDetailsTitle.title}}</h2>
        </div>
        <div class="col-sm-1 text-right columns" style="padding-right:53px;">
          
            <button type="btn btn-outline-secondary text-right columns" placement="top" [ngbPopover]="popeducationDetailsTitle" popoverTitle="Edit Title ">
                <i class="fa fa-pencil-square fa-2x"></i>
              </button>
              <ng-template #popeducationDetailsTitle>
                <p [froalaEditor]='options' [(froalaModel)]="educationDetailsTitle.title"></p>
              </ng-template>
        </div>
      </div>
  <div class="div-center" class="details" [ngSwitch]='froalaId'>
     
    <form>
        <div class="row " >
            <div class="col-sm-3">
              <label class="personaldetail" for="qualification" style="padding-right:180px" [froalaView]="educationDetailsTitle.Qualificationtitle">{{educationDetailsTitle.Qualificationtitle}}</label>
             
              <button type="btn btn-outline-secondary text-right columns" placement="top" [ngbPopover]="popeducationDetailsQualification" popoverTitle="Edit Title ">
                  <i class="fa fa-pencil-square fa-2x"></i>
                </button>
                <ng-template #popeducationDetailsQualification>
                  <p [froalaEditor]='options' [(froalaModel)]="educationDetailsTitle.Qualificationtitle"></p>
                </ng-template>
            </div>
            <div class="col-sm-3">
              <label class="personaldetail" for="school"  style="padding-right:150px" [froalaView]="educationDetailsTitle.schoolnametitle">{{educationDetailsTitle.schoolnametitle}}</label>
              <button type="btn btn-outline-secondary text-right columns" placement="top" [ngbPopover]="popeducationDetailsSchool" popoverTitle="Edit Title ">
                  <i class="fa fa-pencil-square fa-2x"></i>
                </button>
                <ng-template #popeducationDetailsSchool>
                  <p [froalaEditor]='options' [(froalaModel)]="educationDetailsTitle.schoolnametitle"></p>
                </ng-template>
            </div>
            <div class="col-sm-3">
              <label class="personaldetail" for="yop"  style="padding-right:130px" [froalaView]="educationDetailsTitle.yearOfPassingtitle">{{educationDetailsTitle.yearOfPassingtitle}}</label>
              <button type="btn btn-outline-secondary text-right columns" placement="top" [ngbPopover]="popeducationDetailsyop" popoverTitle="Edit Title ">
                  <i class="fa fa-pencil-square fa-2x"></i>
                </button>
                <ng-template #popeducationDetailsyop>
                  <p [froalaEditor]='options' [(froalaModel)]="educationDetailsTitle.yearOfPassingtitle"></p>
                </ng-template>
            </div>
            <div class="col-sm-3">
              <label class="personaldetail" for="percentage"  style="padding-right:210px" [froalaView]="educationDetailsTitle.Markstitle">{{educationDetailsTitle.Markstitle}}</label>
              
              <button type="btn btn-outline-secondary text-right columns" placement="top" [ngbPopover]="popeducationDetailsmarks" popoverTitle="Edit Title ">
                  <i class="fa fa-pencil-square fa-2x"></i>
                </button>
                <ng-template #popeducationDetailsmarks>
                  <p [froalaEditor]='options' [(froalaModel)]="educationDetailsTitle.Markstitle"></p>
                </ng-template>
            </div>
          </div>
        
          <hr>
          <div *ngFor="let education of educationDetails;let i=index">
      <div class="row">
        <div class="col-sm-11">
          <h2 class="personaldetail" for="inputName">Education #{{i+1}}</h2>
        </div>
        <div class="col-sm-1 text-right columns">
          
          <button type="btn btn-danger" (click)="onRemoveDetails(i)">
              <i class="fa fa-close fa-2x"></i>
            </button>
        </div>
      </div>
      <br>

      
      <div class="row">
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]='options' [(froalaModel)]="educationDetails[i].Qualification">
          </p>
        </div>
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]="options" [(froalaModel)]="educationDetails[i].schoolName">
          </p>
        </div>
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]="options" [(froalaModel)]="educationDetails[i].yearOfPassing">
          </p>
        </div>
        <div class="col-sm-3">
          <p type="date" class="form-control" id="textarea" [froalaEditor]="options" [(froalaModel)]="educationDetails[i].Marks"></p>
        </div>
      </div>
    </div>
<br>
<hr>
<br>
    </form>

    <button type="button" class="btn btn-dark btn-md" (click)="onAddDetails()">Add New Field</button>
    
    <button type="button" style="float:right" class="btn btn-dark btn-md" (click)="onPreview()">Preview</button>


  </div>
</div>
