<div class="well" style="margin-top: 30px;width:100%;padding-right: 75px;padding-left: 75px;padding-top: 35px;">
    <div class="row">
        <div class="col-sm-11">
            <h2 style="padding-left:33px;">Interest</h2>
        </div>
        <div class="col-sm-1 text-right columns" style="padding-right:53px;">
          
          <button type="btn btn-danger" >
              <i class="fa fa-pencil-square fa-2x"></i>
            </button>
        </div>
      </div>
    <div class="div-center" class="details" [ngSwitch]='froalaId'>
  
      <form *ngFor="let interest of interests;let i=index">
        <div class="row">
          <div class="col-sm-1">
            <h2 class="personaldetail" for="inputName">Interest #{{i+1}}</h2>
          </div>
  
          <div class="col-sm-10">
            <p type="date" class="form-control" id="textarea" [froalaEditor]="options" [(froalaModel)]="interests[i]">
            </p>
          </div>
          <div class="col-sm-1 text-right columns">
  
            <button type="btn btn-danger" (click)="onRemoveDetails()">
              <i class="fa fa-close fa-2x"></i>
            </button>
          </div>
        </div>
        <br>
  
  
  
        <br>
        <hr>
        <br>
      </form>
  
      <button type="button" class="btn btn-dark btn-md" (click)="onAddDetails()">Add New Field</button>
     
      <button type="button" style="float:right" class="btn btn-dark btn-md" (click)="onPreview()">Preview</button>
  
  
    </div>
  </div>
  